name: "Modbus <=> MQTT"
description: "Service converts RTU and TCP Modbus to MQTT from other 22"
version: 0.18.0
image: ghcr.io/modbus2mqtt/modbus2mqtt
url: https://github.com/modbus2mqtt/modbus2mqtt/blob/main/introduction.md
webui: http://[HOST]:[PORT:3000]
watchdog: http://[HOST]:[PORT:3000]/
panel_icon: mdi:arrow-left-right-bold-outline
slug: modbus2mqtt
arch:
  - aarch64
  - amd64
services:
  - mqtt:want
map:
  - share:rw
  - config:rw
  - ssl:rw
hassio_api: true
hassio_role: default
uart: true
init: false
ingress: true
ingress_port: 3000
ingress_stream: true
ports:
  502/tcp: null
ports_description:
  502/tcp: TCP Bridge port
